body {
    font-family: Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding: 10px 10px 60px;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    margin-bottom: 1%;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
}

form.example button:hover{
    background: rgb(41, 87, 243);
}

footer{
    margin-top: 5%;
    width:80%;

}

footer > input{
    margin-right: 2%;
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

footer > input:hover{
    background: rgb(41, 87, 243);
}

#peliculas {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#peliculas td, #peliculas th {
    border: 1px solid #ddd;
    padding: 8px;
}

#peliculas tr:nth-child(even){background-color: #f2f2f2;}

#peliculas tr:hover {background-color: #ddd;}

#peliculas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}